/** mislee css framework. -- github.com/Misly16/mislee */
@import url('https://fonts.googleapis.com/css?family=Baloo%20Tammudu%202');
body, html {
    font-family: 'Baloo Tammudu 2', sans-serif;
    height: 100vh;
    margin: auto;
    color: #b8c1ec;
    background-color: #121629;
}
.title {
    font-size: 80px;
    color: #fffffe;
}
.hero {
  display: flex;
  background-color: #232946;
  height: 30%;
}
.hero-item {
    margin: auto;
}
.box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.box {
    padding: 10px;
    display: flex;
    background-color: #fffffe;
    margin: auto;
    margin-top: 20px;
    box-shadow:
  0 3.2px 3.5px -7px rgba(0, 0, 0, 0.028),
  0 7.6px 8.5px -7px rgba(0, 0, 0, 0.04),
  0 14.4px 16px -7px rgba(0, 0, 0, 0.05),
  0 25.7px 28.6px -7px rgba(0, 0, 0, 0.06),
  0 48px 53.5px -7px rgba(0, 0, 0, 0.072),
  0 115px 128px -7px rgba(0, 0, 0, 0.1);
  width: 30%;
  border-radius: 10px;
}
.box-item {
    margin: auto;
}

/** mislee css framework. -- github.com/Misly16/mislee */
@import url('https://fonts.googleapis.com/css?family=Baloo%20Tammudu%202');
body, html {
    font-family: 'Baloo Tammudu 2', sans-serif;
    height: 100vh;
    margin: auto;
    color: #b8c1ec;
    background-color: #121629;
}
.title {
    font-size: 80px;
    color: #fffffe;
}
.hero {
  display: flex;
  background-color: #232946;
  height: 50%;
}
.hero-item {
    margin: auto;
}
.box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.box {
    padding: 10px;
    display: flex;
    background-color: #fffffe;
    margin: auto;
    margin-top: 20px;
    box-shadow:
  0 3.2px 3.5px -7px rgba(0, 0, 0, 0.028),
  0 7.6px 8.5px -7px rgba(0, 0, 0, 0.04),
  0 14.4px 16px -7px rgba(0, 0, 0, 0.05),
  0 25.7px 28.6px -7px rgba(0, 0, 0, 0.06),
  0 48px 53.5px -7px rgba(0, 0, 0, 0.072),
  0 115px 128px -7px rgba(0, 0, 0, 0.1);
  width: 30%;
  border-radius: 10px;
}
.box-item {
    margin: auto;
}

.navbar-default {
    border-color: transparent;
    background-color: #222;
}

.navbar-default .navbar-brand {
    font-family: "Kaushan Script","Helvetica Neue",Helvetica,Arial,cursive;
    color: #1ee2e7;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand.active {
    color: #fec503;
}

.navbar-default .navbar-collapse {
    border-color: rgba(255,255,255,.02);
}

.navbar-default .navbar-toggle {
    border-color: #1ee2e7;
    background-color: #1ee2e7;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #1ee2e7;
}

.navbar-default .nav li a {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    color: #fff;
}

.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
    outline: 0;
    color: #1ee2e7;
}

.navbar-default .navbar-nav>.active>a {
    border-radius: 0;
    color: #fff;
    background-color: #1ee2e7;
}

.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #fff;
    background-color: #17d0d5;
}

@media(min-width:768px) {
    .navbar-default {
        padding: 25px 0;
        border: 0;
        background-color: transparent;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }

    .navbar-default .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }

    .navbar-default .navbar-nav>.active>a {
        border-radius: 3px;
    }

    .navbar-default.navbar-shrink {
        padding: 10px 0;
        background-color: #222;
    }

    .navbar-default.navbar-shrink .navbar-brand {
        font-size: 1.5em;
    }
}
